<header>
  <!-- Nav Bar -->
  <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}" role="navigation">
    <div class="container">
      <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl }}/">
        CSE 590 Human-Centered AI
      </a>
      <!-- Navbar Toggle -->
      <button
        class="navbar-toggler collapsed ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item {% if page.url == '/' %}active{% endif %}">
            <a class="nav-link" href="{{ '/' | relative_url }}">Home{% if page.url == '/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item {% if page.url contains '/logistics' %}active{% endif %}">
            <a class="nav-link" href="{{ '/logistics/' | relative_url }}">Logistics{% if page.url contains '/logistics' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item {% if page.url contains '/schedule' %}active{% endif %}">
            <a class="nav-link" href="{{ '/schedule/' | relative_url }}">Schedule{% if page.url contains '/schedule' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item {% if page.url contains '/specialist-role' %}active{% endif %}">
            <a class="nav-link" href="{{ '/specialist-role/' | relative_url }}">Specialist Role{% if page.url contains '/specialist-role' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
